.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 300px;
  margin: 10px;
}

.App button {
  padding: 10px 10px;
  border-color: #000000;
  border-radius: 9px;
  margin-right: 8.7rem;
  margin-top: 2rem;
  background: #fff;
}

.App button:hover {
  color: white;
  background-color: #000000;
  border-color: red;
}

@media screen and (max-width: 640px) {
  .App {
    width: 100vw;
    height: auto;
  }
  
  img {
    border: 7px solid #000000;
    border-radius: 45px;
  }
}